

<div class="welcome-container">
    <div class="welcome-text">Welcome  {{ name }}
        <h3>Good To see You Here</h3> </div>
  

    <div class="buttons-container">
        <a class="fancy" >
            <span class="top-key"></span>
            <span class="text">My orders</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
          <a class="fancy" (click)="goToProductList()">
            <span class="top-key"></span>
            <span class="text">view offers</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
    </div>
  </div>
  