<div class="is-mobile">
    <div id="about" class="body-img " style="margin-bottom: 100px;">
         <div  class="card" >
            <div class="card-details">
                <p class="text-title">MY FARM</p>
                <p class="text-body">My Farm is a platform that offers solutions for fruit and vegetable markets,
                     including price information and secure payment methods. Users are registered based on official documents,
                     and operations are managed professionally with legal entities ensuring all parties are guaranteed.</p>
                </div>
                <button (click)="scrollToElement()" class="card-button">More info</button>
            </div>
            </div>

            <div id="serv" >
                <h1 >OUR SERVICES</h1>
                <div  class="cards-container">
                    <div class="cd">
                        <div class="cd-image cd-image-1"></div>
                        <div class="category"> SELLERS </div>
                        <div class="heading"> MY FARM services make thinking about marketing your crops and products a thing of the past !
                        </div>
                    </div>
                    <div class="cd">
                        <div class="cd-image cd-image-2"></div>
                        <div class="category"> BUYERS</div>
                        <div class="heading"> Don't look for sources to buy crops and products, they are all waiting for you at MY FARM
                        </div>
                    </div>
    
                    <div class="cd">
                        <div class="cd-image cd-image-3"></div>
                        <div class="category"> LOGISTIC COMPANIES </div>
                        <div class="heading"> While carriers typically search for orders in markets, with MY FARM services, orders are the ones searching for carriers.                
                        </div>
                    </div>
                </div>
            </div>
            <div>             
            </div>
            
            <div id="contact-us">              
                <h1 >CONTACT US</h1>
                <div class="cards-container">
                    <img class="cd-img" src="assets/images/email.png" />
                    <div class="contact-form">
                        <span class="heading">Contact Us</span>
                        <form>
                          <label for="name">Name:</label>
                          <input type="text" required="">
                          <label for="email">Email:</label>
                          <input type="email" id="email" name="email" required="">
                          <label for="message">Message:</label>
                          <textarea id="message" name="message" required=""></textarea>
                          <button type="submit">Submit</button>
                        </form>
                      </div>
                </div>
            </div>
</div>  
