<div class="is-mobile">
  <div class="list-container">
    <div class="cont">
      <h1>Product List</h1>
      <div class="buttons-container">
        <a class="fancy" (click)="goToWelcome()">
          <span class="top-key"></span>
          <span class="text">Main Page</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
        <a class="fancy" (click)="goToOrderList()">
          <span class="top-key"></span>
          <span class="text">My Orders</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </div>
      <div class="card-container">
        <mat-card *ngFor="let product of products" class="product-card">
          <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="product.image" alt="{{ product.name }}">
          <mat-card-content>
            {{ product.description }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addToCart(product)">ADD TO CART</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
