

<div class="welcome-container">
    <div class="welcome-text">Welcome  {{ name }}
        <h3>Good To see You Here</h3> </div>
  

    <div class="buttons-container">
        <a class="fancy" (click)="goToAddProduct()">
            <span class="top-key"></span>
            <span class="text">Add new offer</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
          <a class="fancy" (click)="goToProductList()">
            <span class="top-key"></span>
            <span class="text">Show my offers</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
    </div>
  </div>
  