<div class="signup-container">
  <div class="container">
    <div class="card">
        <a class="singup">Sign Up</a>
        
        <div class="inputBox">
          <input type="text" name="email" required>
          <span>Email</span>
        </div>
        <div class="inputBox">
          <input type="text" name="name" required>
          <span>Name</span>
        </div>
        <div class="inputBox">
          <input type="text" name="surname" required>
          <span>Surname</span>
        </div>
        <div class="inputBox">
          <input type="tel" name="phonenumber" required>
          <span>Phone number</span>
        </div>
        <div class="inputBox">
          <input type="text" name="coregisterno" required>
          <span>Company register no</span>
        </div>
        <div class="inputBox">
          <p>END OF COMPANY'S REGISTER NO.</p>
          <input type="date" name="date" required>
        </div>
        <div class="inputBox">
          <input type="password" name="password" required>
          <span>Password</span>
        </div>
        <div class="radiobuttom">
          <label>
            <input type="radio" name="selectedoption" value="seller" required> SELLER
          </label>
          <label>
            <input type="radio" name="selectedoption" value="buyer" required> BUYER
          </label>
          <label>
            <input type="radio" name="selectedoption" value="logistic" required> LOGISTIC CO
          </label>
        </div>
        <button class="enter" (click)="onEnter()">Enter</button>

    </div>
</div>
</div>

