
.list-container {
    display: grid;
    grid-gap: 20px;
    height: 90vh;
    padding: 0 50px;
    background-color: #F7FBF3;
}
.cont{
    margin-top: 65px;
}

.product-card {
    max-width: 300px;
    margin: 20px;
  }
  
  h2{
    
  }